.body {
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  header {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-style: bold;
    background: #6a7a88;
    color: rgba(201, 15, 15, 0.63);
    float: inline;
  }
  .nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
  }
  
  .a {
    float: wrap;
    flex-wrap: left;
  }

  img {
    max-width: 10%;
    height: auto;
  }
   
  .card-body {
    font-size: 40px;
    flex: 1;
    font-size: 20px;
    background-color: rgba(127, 255, 244, 0.384);
    padding: 20px;
    margin: 5px;
  }

  card {
    background-color: rgba(5, 29, 29, 0.507);

  }
  
 .footer {
    text-align: center;
    font-size: 25pt;
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
    
  }
  